# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries for Data Science
* List development environment open source tools used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn

Data Science Tools
|----|
Jupyter Notebook
R Studio 
Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Gerry